<!-- USED TO SHOW A SINGLE REQUESTED THING -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Show Single Comment</title>
</head>
<body>
	<p><%= comment.username%> - <%= comment.comment%></p>
	<a href="/comments">Take me to all comments page!</a>  
	<a href="/comments/<%= id %>/edit">Edit comment!</a>
	<form action="/comments/<%= id%>?_method=DELETE" method="POST" >
		<button type="submit">DELETE!</button>
	</form>
</body>
</html>